/*

However, to satisfy the &#39;attribution&#39; clause of the license, you are required to keep the footer links intact which provides due credit to its authors. For more specific details about the license, you may visit the URL below:
http://creativecommons.org/licenses/by/3.0/
*/

/* CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}

/* CSS HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;display:block;}*{margin:0;padding:0;}html{display:block;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{background:transparent;}table{border-collapse:collapse;border-spacing:0;}

/* CSS Framework */
.navbar,.post-feeds,.feed-links{display:none;}
.section,.widget{margin:0 0 0 0;padding:0 0 0 0;}
strong,b{font-weight:bold;padding: 0 0.25em;-webkit-transition: color 0.2s;transition: color 0.2s;}
strong,b:hover{left:-0.1em;content: '[';-webkit-transform: translateX(-100%);transform: translateX(-100%);}
cite,em,i{font-style:italic;}
a:link{color:#0099cc;text-decoration:none;outline:none;transition:all 0.25s;}
a:visited{color:#637182;text-decoration:none;}
a:link:hover{color:#f56c7e;text-decoration:none;}
a:visited:hover{color:#f56c7e;text-decoration:none;}
a img{border:none;border-width:0;outline:none;}
img{max-width:100%;vertical-align:middle;border:0;}
abbr,acronym{border-bottom:1px dotted;cursor:help;}
sup,sub{vertical-align:baseline;position:relative;top:-.4em;font-size:86%;}
sub{top:.4em;}small{font-size:86%;}
kbd {display:inline-block;border:1px solid #c8ccd2;border-radius:4px;padding:0.1em 0.5em;margin:0 0.2em;box-shadow:0 1px 0px rgba(0,0,0,0.2), 0 0 0 2px #fff inset;background-color:#f7f7f7;}
mark{background-color:#ffce00;color:#182025;}
p,blockquote,pre,table,figure,hr,ol,ul,dl{margin:1.5em 0;}
hr{height:1px;border:none;background-color:#4b5f65;}

/* CSS Blog Heading */
h1,h2,h3,h4,h5,h6{font-weight:700;line-height:normal;margin:0 0 0.6em;}
h1{font-size:200%}
h2{font-size:180%}
h3{font-size:160%}
h4{font-size:140%}
h5{font-size:120%}
h6{font-size:100%}

/* CSS Form */
input,button,select,textarea{font-size:100%;line-height:normal;vertical-align:baseline;}
textarea{display:block;box-sizing:border-box;}
pre,code{font-family:'Open Sans';color:#4b5f65;}
pre{white-space:pre;word-wrap:normal;overflow:auto;}
blockquote{margin-left:0;font-style:italic;position:relative;font-size:14px;padding:0px;
padding-left:60px;margin:40px 0px;border:0px;font-weight:400;}
blockquote:before {font-family:FontAwesome;font-style:normal;text-align:center;font-size:20px;
line-height:20px;content:"\f10d";color:#fff;background:#b8bdc3;padding:10px;position:absolute;
top:0px;left:0px;}
*:focus {outline:0!important;}

/* CSS List */
ul,dl{margin:.5em 0em .5em 3em}
ol{list-style:decimal outside}
ul{list-style:disc outside}
li{margin:.5em 0}
dt{font-weight:bold}
dd{margin:0 0 .5em 2em}

/* CSS List Custom */
.post ul li span{position:relative;display:block;margin:0;padding:5px 8px;margin-bottom:10px;text-decoration:none;transition:all .3s ease-out;}
ol {counter-reset:li;list-style: none;font:15px 'Open Sans', 'lucida sans';
padding:0;margin-bottom:4em;text-shadow: 0 1px 0 rgba(255,255,255,.5);}
ol ol {margin: 0 0 0 2em;}
.post ol li{position:relative;display:block;padding:.4em .4em .4em .8em;
margin:.5em 0 .5em 2.5em;background:#fff;color:#666;text-decoration:none;
transition:all .3s ease-out;}
.post ol li:before {content:counter(li);counter-increment:li;position:absolute;left:-2.5em;
top:50%;margin-top:-1em;height:2em;width:2em;line-height:2em;text-align:center;}

/* CSS Post Table */
.post-body table th, .post-body table td, .post-body table caption{border:none;padding:10px 12px;text-align:left;vertical-align:top;}
.post-body th:nth-child(1){background:#f5f7fa;color:#39484d;}
.post-body th:nth-child(2),.post-body th:nth-child(3),.post-body th:nth-child(4),
.post-body th:nth-child(5){background:#f5f7fa;}
.post-body table td {background:#5b7178;color:#fff;}
.post-body table.tr-caption-container {border:none;}
.post-body th{font-weight:700;}
.post-body table caption{border:none;font-style:italic;}
.post-body td, .post-body th{vertical-align:top;text-align:left;font-size:13px;padding:3px 5px;border:none;}
.post-body th{background:#f5f7fa;}
.post-body table.tr-caption-container td {padding:12px;background:#ffff;color:#b0b1b8;
font-family:'Open Sans';font-size:13px;text-decoration:blink;}
.post-body table.tr-caption-container, .post-body table.tr-caption-container img, .post-body img {max-width:100%;height:auto;}
.post-body td.tr-caption {color:#878888;font-size:80%;padding:0px 8px 8px !important;}
img {max-width:100%;height:auto;border:none;}
table {max-width:97%;width:100%;margin:1.5em auto;}
table.section-columns td.first.columns-cell{border-left:none}
table.section-columns{border:none;table-layout:fixed;width:100%;position:relative}
table.columns-2 td.columns-cell{width:50%}
table.columns-3 td.columns-cell{width:33.33%}
table.columns-4 td.columns-cell{width:25%}
table.section-columns td.columns-cell{vertical-align:top}
table.tr-caption-container{padding:4px;margin-bottom:.5em}
td.tr-caption{font-size:80%}
.widget ul {padding:0;}

/* CSS Post Layout */
body {
    background: #f7f7f7 none repeat scroll 0 0;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 0.875rem;
    line-height: 1.6;
    overflow-wrap: break-word;
}
body#layout #outer-wrapper, body#layout .post-inner, body#layout .sidebar, body#layout .sidebar2 {padding:0 0 0 0;}
body#layout .top-tab-widget-menu ul {display:none;}
body#layout #wrapper, body#layout .post-inner, body#layout .sidebar-inner {padding:0 0 0 0;}
body#layout .tably {float:left;width:79px;}
body#layout .header-wrapper {margin-top:0;}
body#layout #navigation {float:left;width:100%;}
body#layout .tably {float:left;width:100%;}
body#layout #header-wrapper {min-height:0px;width:100%;}
body#layout #header {width:30%;}
body#layout #header-right {width:70%;}
.clear {clear:both;}
.clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;
height:0;}
#navbar-iframe {display:none!important;}
header,nav,section,aside,article,footer {display:block;}
form.searchform {margin:0;}
body#layout #tably-1, body#layout #tably-2, body#layout #tably-3 {width:33.3%;float:left;}

/* CSS Global Wrapper */
#outer-wrapper {max-width:1080px;margin:0 auto;padding:0;overflow:hidden;}
#post-wrapper {float:left;width:70%;margin:0 0 10px;}
.post-inner {padding:15px 15px 0 0;}
#header-wrapper {margin:20px;overflow:hidden;}
#header {float:left;width:100%;max-width:257px;}
.header-right {float:right;padding:0;overflow:hidden;margin:0;width:100%;
max-width:728px;}
#sidebar-wrapper {float:right;width:30%;margin:0 auto;}
.sidebar-inner {padding:15px 0;}
#footer-wrapper {text-align:left;overflow:hidden;margin:15px;}
.footer {padding-bottom:.2em;}
.footer-bottom {min-height:0px;}
#footx1,#footx2,#footx3 {margin:0 .2%}
#footer-widgetfix .footer-widget {width:30.2%;float:left;margin-left:20px;}
#footer-widgetfix {max-width:1100px;overflow:hidden;margin:0 auto;}
#footer-wrapper .widget-content {text-align:left;margin:20px 0 15px;}
#footer-wrapper .widget-content li {margin-left:-14px;}
#footer-wrapper .widget li {margin:5px 0 0 0;padding:5px 0 0 15px;display:block;}
.ads-in-post{display:none}
.post-body .ads-in-post{display:inline-block;line-height:0}
.ads-post{margin:15px auto;line-height:0}

.menubawah{height:40px;line-height:40px;background:#d4c218;color:fff;padding: 0 15px 0 0;font-family:'Open Sans',sans-serif;font-size:12px;text-align: right;}

@media screen and (max-width: 680px) {
#rdp-wrap {
display:none;
}
}
@media screen and (max-width: 680px) {
input.search_input {
    background: #fff none repeat scroll 0 0;
    border:1px solid #dddddd;
    border-radius: 0;
    margin: 5px;
    padding: 7px;
    position: relative;
float:none;
color: #9b9b9b;
    width: 190px;
}
}
@media screen and (max-width: 680px) {
.menubawah {
text-align:center;
}
}
input.search_input {
    background: #fff none repeat scroll 0 0;
    border:1px solid #dddddd;
    border-radius: 0;
    margin: 5px;
    padding: 7px;
    position: relative;
color: #9b9b9b;
    width: 190px;
}
#rdp-wrap{float:left;width:700px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#rdp-text h3{font:normal 400 12px Open sans,sans-serif;margin:0;float:left;padding:0 5px;line-height:25px;color:#FFF;background:#2977be}
#rdp-text{margin:0 auto 10px;padding:0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
#rdp-text a{color:#000;margin:0 10px;font-size:12px}
#rdp-text a:hover{text-decoration:none}
#rdp-text a:last-child{border:0}
b.rctle {
    background-color: red;
    color: #fff;
    padding: 12px;
}
.post-info {
font-size:12px;
    padding: 5px 0px;
}
.post-info a {
    padding: 5px 10px;
}
.post-info a:hover {color:#0099cc;}
.author-info, .time-info, .comment-info, .label-info, .review-info {
margin-right:8px!important;display:inline;color:#000;}
@media screen and (max-width: 600px) {.post-info {font-size:10px;}
  }
.post-info {margin-top:0;margin-bottom:0;padding:0;margin-right:15px;margin-left:15px;color:#979797;}

 
  <style type='text/css'>
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* Download Box by Designz Chan */
.dchan-box{margin:10px 0;}

.item-dc{
float: left;
text-align: center;
background: #39d;
padding: 3px 5px;
width: 75px;
text-align: center;
border-bottom: 2px solid #fff;
font-weight: 700;
font-size: 12px;
color: #fff;
}

h3.dc-title{
background: black;
margin: 0 0 3px;
padding: 6px;
color: #fafafa;
font-size: 0.95em;
}

.dc-item{clear:both;margin-bottom:4px;height:27px;}
.dc-anime{overflow:hidden;line-height:29px;background:#f2f3f4;padding:0 8px;margin:-24px 0px;}
.dc-anime a{font-weight:700;border-right:1px solid #ddd;margin-right:5px;padding-right:10px;color:#000;}
.dc-anime a:hover{color:#39d3ff;text-decoration:underline;transition:all .50s ease-in-out;}
.dc-anime a:last-child{border:0;} 

@media only screen and ( max-width: 580px ) {
.dc-anime {
    text-align: center;
    float: center;
}
.item-dc {
    width: 100%;
}
.dc-anime a {
    line-height: 25px;
}
.dc-anime {
    margin: auto !important;
}
}
